// Define variables for your color scheme

// For example:
$primary-color: #EAAC8B;
$secondary-color: #6D597A;
$white: #FFFFFF;
$black: #000000;
$light-gray: #E9ECEF ;
$green: #DBDFAC;
$red: #5F1B00;
