::-webkit-scrollbar {
  width: 12px;
}

/* Change the scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background-color: #ecb497; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

.item_avatar {
  width: 100px;
  height: 100px;
}

.item_button {
  display: inline-block;
  padding: 5px 5px;
  background-color: #ecb497;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.card-body-item {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.list-group-cl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 500px;
}

.list-group-item {
  display: flex;
  justify-content: start;
  align-items: start;
  flex: auto;
  max-width: 100%;
  border: 1px solid #ffffffc1;
  padding: 20px;
  height: 300px;
}
