.user-avatar {
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px!important;
}
.user-avatar img {
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  object-fit: cover;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  .card-title {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .card-text {
      font-size: 24px;
      line-height: 9.8px;
    }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Change the scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background-color: $primary-color; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

.btn-secondary-color {
  background-color: $secondary-color!important;
  border-color: $secondary-color!important;
  color: $white!important;
  &:hover {
    background-color: $white!important;
    color: $secondary-color!important;
  }
}
.item_avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-edit-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: end
}
.profile-edit-container .form {
  margin-left: 100px; /* Adjust as needed */
}
.form-field {
  width: 100%; /* Make the fields take up the full width of their container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-field:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 5px $primary-color; /* Add a blue shadow. Replace #007bff with your primary color */
}

.form-control-file {
  color: black; /* Make the text white */
}
.btn-outline-secondary-color {
  background-color: $white!important;
  border-color: $secondary-color!important;

  &:hover {
   background-color: $secondary-color!important;
   color: white!important;
  }
}
// .buttoms {
//   display: flex;
//   align-items: end
// }
