.home-title {
  text-align: start;
  margin: 20px;
  margin-left: 0px!important;
}
.product-list {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin: 16px;
  flex-grow: 1;
}

@media (max-width: 992px) {
  .product-list {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (max-width: 768px) {
  .product-listcards {
    grid-template-columns: 1fr;
  }
}

.product {
  flex-basis: calc(25% - 20px);  /* 100% divided by 4 (for 4 items in a row), minus a little for margin */
  margin: 10px;  /* a little margin around each item */
  box-sizing: border-box;  /* so the padding and border are included in the item's width */
}

.product-image {
  object-fit: cover;
  width: 300px;
  height: 400px;
  transition: transform 0.3s ease; /* Added transition */

  &:hover {
    transform: scale(1.02); /* Enlarges the image on hover */
  }
}

.gray-oval-button, .home-bttn, .search-bttn {
  display: inline-block;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.card-product:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
