.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex-basis: calc(25% - 20px);  /* 100% divided by 4 (for 4 items in a row), minus a little for margin */
  margin: 10px;  /* a little margin around each item */
  box-sizing: border-box;  /* so the padding and border are included in the item's width */
}

.product-image {
  object-fit: cover;
  width: 300px;
  height: 400px;
}
.gray-oval-button, .home-bttn, .search-bttn {
  display: inline-block;
  padding: 5px 5px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
