<div class="footer">
  <div class="footer-links">
    <a href="https://t3.ftcdn.net/jpg/01/77/15/66/360_F_177156650_wCLE4jwkFpQbNgrAyTFyls98nTtMwKBi.jpg"><i class="fab fa-instagram"></i></a>
    <a href="https://pbs.twimg.com/media/DyrzFq5W0AEFLkg?format=jpg&name=large"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/watch?v=s9PzYuVwCSE&ab_channel=LyricalLemonade"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> from WiseVoyage group
  </div>
</div>
