<div class="footer">
  <div class="footer-links">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> from WiseVoyage group
  </div>
</div>
