<h1>Welcome to our store!</h1>

<p>
  <%= link_to 'View Products', products_path %>
</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %> - <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Add a New Product', new_product_path %>
</p>
