// Override Flatpickr(Calendar) styles

.flatpickr-day.selected,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
  background-color: $secondary-color !important; // Purple selected day color
}

.flatpickr-day.today {
  border-color: $secondary-color !important;
}

span.flatpickr-day.today:not(.selected),
span.flatpickr-day.prevMonthDay.today:not(.selected),
span.flatpickr-day.nextMonthDay.today:not(.selected) {
  border-bottom-color: $secondary-color !important;
}

.flatpickr-day.today:hover {
  background-color: $primary-color !important;
}
