.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the wrapper at least the height of the viewport */
}

.container {
  flex-grow: 1; /* Allow the container to grow to fill the remaining space */
}

.footer {
  background-color: rgba(118, 118, 118, 0.361);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.689);
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgba(225, 15, 244, 0.623);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: rgba(156, 12, 169, 0.751) // Assuming $secondary-color is defined elsewhere
}
