.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  padding: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}
.btn-outline-secondary-color {
  background-color: $white!important;
  border-color: $secondary-color!important;

  &:hover {
background-color: $secondary-color!important;
  }
}
// .nav-item {
//   margin-right: 20px;
//   outline: 1px solid;
//   border-radius: 15%;
// }
