.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  padding: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}
.btn-outline-secondary-color {
  background-color: $white!important;
  border-color: $secondary-color!important;

  &:hover {
   background-color: $secondary-color!important;
   color: white!important;
  }
}
// .btn-outline-secondary-color {
//   background-color: $secondary-color;
//   border-color: $white;
//   color: white;
//   &:hover {
//     background-color:$white;
//     border-color: $secondary-color;
//     color: $secondary-color;
//    }
//    // Assuming you want white text
// }
// .nav-item {
//   margin-right: 20px;
//   outline: 1px solid;
//   border-radius: 15%;
// }
.logo-text {
  margin-top: 16px;
  font-size: 32px;
  margin-bottom: 0px!important;
  margin-left: 6px!important;
}
