<div class="container">
  <div class="container d-flex">
    <h2>Order</h2>
    <p><%= @product.name %></p>
  </div>
  <div class="container">
    <h2>Address</h2>
    <p><%= @user.address %></p>
  </div>
  <div class="container">
    <h2>Delivery details</h2>
    <p>MAP API Logic</p>
  </div>
  <div class="container">
    <h2>Contact details</h2>
    <p><%= @user.email %></p>
  </div>
  <div class="container">
    <h2>Payment</h2>
  </div>
  <div class="container">
    <h2>Order details</h2>
    <p>Calendar</p>
  </div>
</div>
