<div class="container">
  <div class="container">
    <h1>Hoi hoi</h1>
  </div>
  <div class="container">
    <h2>Address</h2>
  </div>
  <div class="container">
    <h2>Delivery details</h2>
    <p>Click to open map</p>
  </div>
  <div class="container">
    <h2>Contact details</h2>
  </div>
  <div class="container">
    <h2>Payment</h2>
  </div>
  <div class="container">
    <h2>Order details</h2>
    <p>Calendar</p>
  </div>
</div>
