<div class="container mt-4">
  <div class="d-flex justify-content-between">
  <h1>Products</h1>
  <%= link_to 'Add a product', new_product_path, class:'btn btn-outline-secondary-color mx-2 my-2 '  %>
</div>

<div class="product-list">
  <% @products.each do |product| %>
    <div class="card-product my-2 shadow-sm p-3 bg-white rounded">
      <% if product.photo.attached? %>
        <%= image_tag product.photo, class: 'product-image rounded-top' %>
      <% end %>
      <div class="card-text d-flex flex-column">
        <strong> <%= link_to product.name, product_path(product)%> </strong>
        <p></p><%= product.price %> € </p>
      </div>
      <br>
    </div>
  <% end %>
</div>
<br>
<style>
  .btn-red-color {
    background-color: #5f1B00;
    border-color: #5f1B00;
    color: white;
    margin-bottom: 16px;
    margin-left: 17px;
  }

  .btn-red-color:hover {
    background-color: white;
    border-color: #5f1B00;
    color: #5f1B00;
  }
</style>

<div class="col-md-8 back-button" style="padding-left: 22px;">
    <a class="btn btn-secondary btn-block my-2 btn-red-color" href="https://thriftique-kaprans22-fcda80da9d84.herokuapp.com/dashboard.1">Back</a>
</div>
</div>
